name: Build Project [using jupyter-book]
on: 
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup Environment
        uses: quantecon/actions/setup-environment@v0.6.0
      
      - name: Build HTML
        uses: quantecon/actions/build-lectures@v0.6.0
        id: build
        with:
          builder: 'html'
          upload-failure-reports: true
      
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-build
          path: ${{ steps.build.outputs.build-path }}
